.loginContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.loginContainer button {
  background-color: #88BF50;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em 1em 2em;
  
}

.loginContainer img {
  width: 500px;
  max-width: 100%;
  padding-bottom: 3em;
}
